body {
  background-color: hsl(330, 100%, 98%);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Outfit";
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  padding: 4rem 21rem;
}

h1 {
  color: hsl(24, 5%, 18%);
}

h2 {
  font-size: 22px;
  color: hsl(332, 51%, 32%);
}

h3 {
  color: hsl(14, 45%, 36%);
  margin-top: 1rem;
}

img {
  width: 620px;
  border-radius: 20px;
}

tr,
td {
  color: hsl(30, 10%, 34%);
  padding: 5px 35px;
  border-bottom: solid hsl(30, 18%, 87%) 1px;
}

li::marker {
  color: hsl(14, 45%, 36%);
}

.content {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  text-align: left;
  border-radius: 20px;
}

.omelette {
  text-align: center;
}

.preparation {
  background-color: hsl(330, 100%, 98%);
  padding: 1.5rem 1.5rem 0.5rem;
  border-radius: 15px;
}

.heading {
  font-family: "Young Serif";
  font-weight: 400;
}

.nutrition {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  padding-right: 80px;
}

.points::marker {
  color: hsl(332, 51%, 32%);
}

@media (max-width: 600px) {
  body {
    padding: 0px;
    display: flex;
  }

  img {
    border-radius: 0;
    width: 30rem;
    height: 10rem;
  }

  section {
    padding: 30px 85px;
  }

  .content {
    padding: 0;
    border-radius: 0;
  }

  .omelette {
    margin: 0;
  }
}